@import "/src/styles.scss";

:host {
	--height: 3rem;
	--reverse-height: -3rem;
	--padding: 5rem;
}

.dummy {
	height: var(--height);
}

.header {
	width: calc(100% - var(--padding) - var(--padding));
	height: var(--height);
	padding: 0 var(--padding);

	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: white;
	z-index: 10;
}

.logo {
	margin-left: 0;
	font-size: 1rem;
	font-weight: 900;
}

ul.list {
	list-style: none;
	width: 50%;
	display: flex;
	justify-content: right;
}

a {
	cursor: pointer;
	margin-left: 2rem;
	font-size: 0.8rem;
	font-weight: 700;
	text-decoration: none;
	color: #333;
	height: var(--height);
	display: flex;
	align-items: center;
}

a:hover {
	opacity: 0.7;
}

a:hover::after {
	transform: scaleX(1);
}

mat-icon {
	display: none;
}

mat-icon:hover {
	opacity: 0.7;
}

div.more {
	@extend .header;
	z-index: 10;
	transition: transform 0.3s ease-in-out;
	transform: translateY(var(--reverse-height));
	justify-content: center;
	border: 1px solid rgba(1, 1, 1, 0.1);

	&.active {
		transform: translateY(0);
	}

	ul.list {
		padding: 0;
		justify-content: space-around;
		width: auto;

		a {
			margin: 0;
			padding: 0 2rem;
		}
	}
}

div.more-service {
	@extend .more;
	z-index: 10;

	&.active {
		transform: translateY(var(--height));
	}
}

@media only screen and (max-width: 1000px) {
	:host {
		--padding: 3rem;
	}
}

@media only screen and (max-width: 450px) {
	:host {
		--padding: 1rem;
	}

	.header ul.list {
		display: none;
	}

	.more ul.list {
		display: flex !important;
	}

	mat-icon {
		display: flex;
	}
}