<div class="icons">
  <a href="tel:043-832-4281">
    <img src="assets/footer/telephone.svg" alt="telephone link" />
  </a>
  <a href="https://www.instagram.com/neung.woon/" target="_blank">
    <img src="assets/footer/instagram.svg" alt="instagram link" />
  </a>
  <a href="https://youtu.be/qAMi3_BN4tA" target="_blank">
    <img src="assets/footer/youtube.svg" alt="youtube link" />
  </a>
</div>
<div class="description">
  <p class="title">화양계곡 능운대 펜션</p>
  <br />
  <p>대표자: 정경미</p>
  <p>사업자번호: 317-04-07646</p>
  <br />
  <p>신협은행 132-0687-4547-6 (예금주: 정경미)</p>
  <br />
  <p>충청북도 괴산군 청천면 화양동길 247</p>
  <p>043-832-4281</p>
  <br /><br /><br />
  <p class="copyright">Copyright ⓒ holywaterBetter</p>
</div>
