:host {
  margin-top: 10%;
}

div.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;

  img {
    width: 1rem;
    padding: 0.5rem;
  }
}

div.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  p {
    margin: 0;
    font-size: smaller;
    opacity: 0.8;

    &.title {
      font-size: small;
      font-weight: 900;
    }

    &.copyright {
      opacity: 0.5;
    }
  }
}
