<menu></menu>
<img src="assets/story/panel.jpg" alt="hwayang valley landing page" />
<div class="text">
	<h1 [@textAnimation]="textAnimationState" [innerHTML]="list[selectedIndex].text"></h1>
	<p [@textAnimation]="textAnimationState" [innerHTML]="list[selectedIndex].person"></p>
	<button class="mobile" mat-button color="white" (click)="scrollTo('quick-link')">Quick Link</button>
	<div class="pc button-container">
		<button mat-button color="white" routerLink="/reservation">예약하기</button>
		<button mat-button color="white" routerLink="/home">둘러보기</button>
	</div>
</div>
<div id="quick-link" *ngIf="openQuickLink">
	<button mat-stroked-button (click)="openBookingPension()">펜션 예약하기</button>
	<button mat-stroked-button routerLink="/reservation" [queryParams]="{type:'평상'}">평상 예약하기</button>
	<button mat-stroked-button routerLink="/reservation">식사 예약하기</button>
	<button mat-stroked-button routerLink="/home">더 둘러보기</button>
</div>
<footer *ngIf="openQuickLink"></footer>
<move-top-icon></move-top-icon>