<menu color="black"></menu>

<div class="main-container">
	<div #MainImageArea class="main-image-area">
		<div class="main-img" [style.background-image]="'url(assets/food/food1.jpg)'"></div>
	</div>
	<div class="img-header">
		<p>경미야,</p>
		<p>넌 먹을 때가</p>
		<p>제일 예뻐</p>
		<p class="small">- 능운대 식당 -</p>
	</div>
</div>

<div class="section">
	<p class="description-title">능운대 식당 예약 안내</p>
	<div class="description-list">
		<p>※ 예약은 식사 메뉴만 가능합니다.</p>
		<p>※ 온라인 예약 가능하며, 당일 예약은 전화주세요.</p>
		<p>※ 식사 예약 시, 화양 공원 내 차량 등록 도와드립니다.</p>
		<a
		   class="link"
		   routerLink="/booking-food">>&nbsp;&nbsp;식사 예약하기
		</a>
	</div>
</div>

<div class="section">
	<p class="description-title">식사</p>
	<div class="menu-contents">
		<div class="menu-list">
			<p>능이 백숙</p>
			<p>한방 백숙</p>
			<p>자연산 버섯찌개</p>
		</div>
		<div class="menu-list" style="align-items: start">
			<p>{{Price["능이백숙"] | number}}원 <span>(4인)</span></p>
			<p>{{Price["백숙"] | number}}원 <span>(4인)</span></p>
			<p>{{Price["버섯찌개"] | number}}원 <span>(4인)</span></p>
			<p>{{Price["버섯찌개2"] | number}}원 <span>(2인)</span></p>
		</div>
	</div>
</div>

<div class="section">
	<p class="description-title">먹거리</p>
	<div class="menu-contents">
		<div class="menu-list">
			<p>더덕구이</p>
			<p>파전</p>
			<p>도토리묵</p>
		</div>
		<div class="menu-list" style="align-items: start">
			<p>{{Price["더덕구이"] | number}}원</p>
			<p>{{Price["파전"] | number}}원</p>
			<p>{{Price["묵"] | number}}원</p>
		</div>
	</div>
</div>

<div class="section">
	<p class="description-title">주류</p>
	<div class="menu-contents">
		<div class="menu-list">
			<p>동동주</p>
			<p>막걸리</p>
			<p>소주/맥주</p>
		</div>
		<div class="menu-list" style="align-items: start">
			<p>{{Price["동동주"] | number}}원</p>
			<p>&nbsp;&nbsp;{{Price["막걸리"] | number}}원</p>
			<p>&nbsp;&nbsp;{{Price["주류"] | number}}원</p>
		</div>
	</div>
</div>

<footer></footer>
<move-top-icon></move-top-icon>