p.menu-title {
	margin: 4rem 0 2rem 0;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 500;
}

.menu-contents {
	display: flex;
	font-size: 0.9rem;
	justify-content: center;

	.menu-list {
		margin: 0 1rem;
		width: 10rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		p {
			font-size: 1rem;
		}

		span {
			font-size: x-small;
		}
	}
}

a {
	font-size: 1rem;
	margin-top: 2rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}