<div class="home-review">
  <div class="review-box">
    <p class="description">" {{ activeReview.description }} "</p>
    <p class="visited-date">{{ activeReview.date }}</p>
    <a class="img-container" href="{{ activeReview.href }}">
      <img src="{{ activeReview.img }}" />
      <p class="link">리뷰 방문하기</p>
    </a>

    <div class="dots">
      <div
        class="dot active"
        [class.active]="review.selected"
        *ngFor="let review of ReviewList"
        (click)="changeImage(review)"
      ></div>
    </div>
  </div>
</div>
