<div class="container img-right">
  <p class="title">이야기.</p>
  <div class="content">
    <div class="description" style="margin-bottom: 2rem">
      <p class="main-text">어서오세요.<br />능운대 펜션입니다.<br /><br /></p>
      <p>
        안녕하세요.<br />
        화양계곡에서 40년을 함께한 능운대지기입니다.<br /><br /><br />
        능운대 펜션은 여행객들을 위해 만든 국립 공원 내 숙박 공간입니다.<br /><br /><br />
        언제나 숲과 계곡이 함께하는 펜션 시설과,<br />
        산에서 구한 신선한 음식들을 준비하고 있습니다.<br /><br /><br />
        자연의 소리와 쏟아지는 별을 감상하러 오세요.<br /><br /><br />
      </p>
      <p class="from">- 능운대지기</p>
    </div>

    <img src="assets/story/panel.jpg" alt="panel" />
  </div>
</div>

<div class="background">
  <img src="assets/story/map-introduce.jpg" alt="map-introduce"/>
</div>

<div class="container img-left">
  <p class="title">계곡.</p>
  <div class="content">
    <img style="width: 60%" src="assets/story/valley1.jpg" alt="hwayang valley" />
    <div class="description">
      <p class="main-text">가까운 계곡.<br />시원한 마음<br /><br /></p>
      <p>
        나무<br />
        새소리<br />
        계곡<br />
        다슬기<br />
        바위<br />
        물소리<br /><br />

        어른과 아이가 모두 즐길 수 있는<br />
        화양계곡 상류입니다.<br /><br />

        펜션 바로 아래에 있습니다.
      </p>
    </div>
  </div>
</div>

<divider></divider>
<home-youtube [code]="'ruA6V2_iqdw'"></home-youtube>
<divider></divider>

<div class="container img-right">
  <p class="title">소개.</p>
  <div class="content">
    <div class="description" style="margin-bottom: 4rem">
      <p class="main-text">화양계곡<br />능운대 펜션<br /><br /></p>
      <p>
        객실, 평상, 식사를 예약 운영합니다.<br />
        예약 시, 공원 내 차량 주차를 도와드립니다.<br /><br />

        소박한 매점이 있습니다.<br />
        아이스크림, 음료 등을 판매합니다.<br /><br />

        족구장이 있습니다.<br />
        주차 상황에 따라 이용이 가능합니다.<br /><br />
      </p>
    </div>

    <img src="assets/story/pension.jpg" alt="hwayang valley neung-un-dae pension"/>
  </div>
</div>

<div class="background">
  <img src="assets/story/neungwundae.jpg" alt="hwayang valley neung-un-dae rock"/>
</div>
