<div class="title">
  <p>능운대펜션, 놀기 좋냐구요?</p>
  <p>​아래를 확인하세요!</p>
</div>

<p class="description">Step 1. 놀기 좋은 계곡</p>
<div class="step">
  <img src="assets/home-recommend/swim1.jpg" alt="hwayang valley swim1" />
  <img src="assets/home-recommend/swim2.jpg" alt="hwayang valley swim2"/>
</div>
<p class="description">Step 2. 쉬기 좋은 그늘터</p>
<div class="step">
  <div class="column">
    <img src="assets/home-recommend/swim3.jpg" alt="hwayang valley swim3"/>
    <img src="assets/home-recommend/swim4.jpg" alt="hwayang valley swim4"/>
  </div>
  <img src="assets/home-recommend/swim5.jpg" alt="hwayang valley swim5"/>
</div>
<p class="description">Step 3. 우리의 아지트 평상 & 백숙</p>
<div class="step">
  <img src="assets/home-recommend/swim6.jpg" alt="hwayang valley swim6"/>
  <img src="assets/home-recommend/swim7.jpg" alt="hwayang valley swim7"/>
</div>
<p class="description">+ Bonus</p>
<div class="bonus">
  <youtube-player
    videoId="rBiuJ_Usg10"
    suggestedQuality="highres"
  ></youtube-player>
</div>
